In [2]:
# Import Required Libraries
import pandas as pd
import os

In [7]:
# Load Dataset
# Define the file path to the dataset
df = pd.read_csv("diabetes.csv")

# Load the dataset into a pandas DataFrame
# df = pd.read_csv(file_path)

# Display the first few rows of the dataset
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
# Split Data into Features and Target
# Features (x) include all columns except 'Outcome'
x = df.drop(columns=["Outcome"])

# Target (y) is the 'Outcome' column
y = df["Outcome"]

In [1]:
# Display Features (x) and Target (y)
# Display the features DataFrame
print("Features (x):")
print(x.head())

# Display the target DataFrame
print("\nTarget (y):")
print(y.head())

Features (x):

NameError: name 'x' is not defined